* {
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body{
  background-color: #ececec;
}

h1 {
  color: blue;
  text-align: center;
}

#chooseContainer h1 {
  color: #ececec ;
}

header{
  background-color: #007be3;
  display: flex;
  align-items: center;
}
/*
https://coolors.co/27bc10-1285ce-eea01a-ff302c-a80874
*/
header a{
  color:   #e78200   ;
  text-decoration:  none;
  padding: 20px;
  display: block;
}

header ul {
  list-style-type: none;
}

#logo{
  text-align: center;
  font-size: 2em;
  margin: 0 auto;
  font-family: 'Kaushan Script', sans-serif;
}

#social-links ul{
  display: flex;
}

#main-links ul{
  display: flex;
}

#social-links ul{
  display: flex;
}

#dataBar {
  display: flex;
  flex-direction: column;
  padding: 15px;
  box-shadow: 7px 5px 10px -3px rgba(0,0,0,0.5);
  background-color:  #083b66;
  width: 30%;
  align-items: center;
  text-align: center;
}

#dataBarTitleContainer {
  padding: 5px;
  font-size: 1.6em;
}

#dataBar input {
  border: 2px solid transparent;
  padding: 5px;
  margin: 5px;
  background-color: #ececec;
}

#dataBar input:focus {
  border: 2px solid #083b66;
}

.dataEntry {
  margin: 10px 0px;
  font-size: 1.5em;
}

#allContainer {
  display: flex;
  flex-direction: row;
  margin: 10px 15%;
  width: 70%;
}

#chooseContainer {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
  width: 100%;
  padding: 5px;
  box-shadow: 7px 5px 10px -3px rgba(0,0,0,0.5);
  background-color:  #71bbf9  ;
  justify-content: center;
  align-items: center;
}

#activitiesSelectContainer, #areaSelectContainer, #climateSelectContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#activitiesContainer, #areaContainer, #climateContainer{
  display: flex;
  flex-direction: column;
}


#chooseContainer h2{
  text-align: center;
  margin: 5px;
  padding: 5px;
}

#dataBar h2{
  text-align: center;
}

img {
  width: 170px;
  height: 120px;
}

.selectable {
  margin: 0px 5px;
  padding: 5px;
  text-align: center;
  border: 3px solid transparent;
  transition: all 0.3s;
}

.selectable:hover {
  transform: scale(1.05);
}

#calculateContainr {
  align-items: center;
  justify-content: center;
}

#calculateButton {
  padding: 10px;
  margin: 5px;
  background-color: #e78200;
  border: 3px solid transparent;
  color: #ececec;
  border-radius: 5px;
  transition: all 0.3s;
}

#calculateButton:hover {
  border: 3px solid #e78200; 
  color: #e78200;
  background-color: #ececec;
  overflow: hidden;
}

.chooseClicked {
  border: 3px solid #e78200;
  padding: 5px;
}

.calculatedLocationsContainer{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.optionContainer {
  display: flex;
  flex-direction: row;
}

.calculatedLocations{
  align-items: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 50%;
  background-color: #083b66
  ;
  padding: 5px;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.calculatedLocations p {
  padding: 10px;
}
.calculatedLocations button{
  text-align: center;
  align-items: center;
  background-color: #f39c12;
  border: none;
  padding: 10px;
  margin: 10px;
  font-size: 1em;
  border-radius: 5px;
}

.calculatedLocations button:hover{
  color: #f39c12;
  transition: 0.3s;
}

.calculatedLocations p {
  font-size: 2em;
}

#resultsContainer {
  width: 100%;
}


#distanceContainer label{
  font-size: 0.75em;
  cursor: pointer;
  padding: 5px;
}


.radioDistanceContainer{
  text-align: center;
  margin: 5px;
}

.bottomBar {
  background-color: #007be3;
  overflow: hidden;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

/* Style the links inside the navigation bar */
.bottomBar > a {
  color: #ececec;
  text-align: center;
  margin: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.bottomBar > a:hover {
  background-color: #ececec;
  color: #007be3
  ;
}

.linkContainer{
  margin: 0 5px;
  display: block;
}

.linkContainer:hover{
  cursor: pointer;
}

.option{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.calculatedLocations a{
  text-decoration: none;
  color: black;
}

.option h3{
  margin-top: 5px;
}

#logo img {
  height: 23%;
  width: 23%;
}

.calculatedLocations a, .calculatedLocations p{
  color: #f39c12;
}